.footer {
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    background-color: black;
    color: white;
}

.footer_links {
}

.footer_copyright {
}

.copyright {
}

@media (min-width: 768px) {
    .footer {
        grid-column: 1 / span 2;
    }
}
